<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="applicable-device" content="pc,mobile" />
  <title>用户管理</title>
<meta content="index,follow" name="robots">
<meta content="index,follow" name="GOOGLEBOT">
<meta content="刘悦"  name="Author">

  <meta http-equiv="expires" content="4500"/>

   <link rel="stylesheet" href="../assets/css/style.css"  />

   <script src="../assets/js/axios.js"></script>
    <script src="../assets/js/vue.js"></script>


  </head>
  <body >

    <div id="app">

        ${ render "admin_header.html" }
    
   
    <div class="container">
    <header>
    
    
    </header>
    
    <section>
      <div class="row">
        <div class="col-md-8">
         
          
            <ul class="g-formlist form_li">
                <li>
                    <label class="mark">用户名</label>
                    <div class="write">
                        <input v-model="username" type="text" id="form-name" class="g-text-entry" placeholder="请输入4-10字符" />
                        <span class="tip" data-initial="请输入4-10字符"></span>
                    </div>
                </li>
                <li>
                    <label class="mark">密 码</label>
                    <div class="write">
                        <input v-model="password" type="password" id="form-psw" class="g-text-entry" placeholder="请输入6-30字符" />
                        <span class="tip" data-initial="请输入6-30字符"></span>
                    </div>
                </li>
             
            </ul>

            <button @click="submit">提交</button>

            <br />

            <table class="gridtable">

                <tr>
                    <th>用户id</th>
                    <th>用户名</th>
                    <th>新密码</th>
                    <th>添加时间</th>
                    <th>操作</th>
                </tr>

                <tr v-for="(item,index) in userlist">
                    <td>{{ item.ID }}</td>
                    <td>{{ item.Username }}</td>
                    <td><input type="password" v-model="newpass[index].value"  /></td>
                    <td>{{ item.CreatedAt }}</td>
                    <td>
                        
                        
                    <button @click="update(index)">更新密码</button>

                    &nbsp;&nbsp;

                    <button @click="del(index)">删除用户</button>
                    
                    
                    </td>
                
                </tr>



            </table>


     
          
        </div>
        </div>
        </section>

    </div>

    </div>

  </body>


  ${ render "myaxios.html" }


  <script>





const App = {
            data() {
                return {
                    //用户名
                    username: "",
                    //密码
                    password:"",
                    //用户列表
                    userlist:[],
                    //新密码
                    newpass:[]
                };
            },
            created: function() {

                console.log("你好，女神");

                this.get_userlist();

            },
            methods: {

                del:function(i){

                    var r=confirm("您确定要删除吗?");

                    if (r==true){
                    

                        this.myaxios("http://localhost:5000/admin/user_action/","delete",{"id":this.userlist[i].ID}).then(data => {
                        console.log(data)
                        alert(data.msg);
                    });


                    }


                },
                update:function(i){

                    console.log(this.userlist[i].ID);
                    console.log(this.newpass[i].value);

                    if(this.newpass[i].value == ""){
                        alert("新密码不能为空");
                        return false;
                    }

                    this.myaxios("http://localhost:5000/admin/user_action/","put",{"id":this.userlist[i].ID,"password":this.newpass[i].value}).then(data => {
                        console.log(data)
                        alert(data.msg);
      });


                },

                get_userlist:function(){


                    this.myaxios("http://localhost:5000/admin/userlist/","get",).then(data => {
        console.log(data)
        this.userlist = data.Value


        for(let i=0,l=this.userlist.length;i<l;i++){

            this.newpass.push({"value":""})

        }

        console.log(this.newpass);
        



      });


                },
                submit:function(){


                    this.myaxios("http://localhost:5000/admin/user_action/","post",{"username":this.username,"password":this.password}).then(data => {
        console.log(data)
                        alert(data.msg);
      });

                }

            },
        };
const app = Vue.createApp(App);
app.config.globalProperties.axios = axios;
app.config.globalProperties.myaxios = myaxios;
app.mount("#app");



</script>


</html>