<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="applicable-device" content="pc,mobile" />
  <title>刘悦-刘悦分享-刘悦的技术博客-讲师刘悦-刘悦简历</title>
<meta content="刘悦的技术博客,刘悦简历,python编程,git,mac,centos,ruby编程,linux,golang编程,vue.js,Docker容器技术" name="keywords">
<meta content="刘悦-刘悦分享-刘悦的技术博客-讲师刘悦-刘悦简历" name="description">
<meta content="index,follow" name="robots">
<meta content="index,follow" name="GOOGLEBOT">
<meta content="刘悦"  name="Author">
  <meta http-equiv="expires" content="4500"/>
   <link rel="stylesheet" href="../assets/css/style.css"  />
   <script src="../assets/js/axios.js"></script>
    <script src="../assets/js/vue.js"></script>

  </head>
  <body >

    <div id="app">

        ${ render "header.html" }
   
    <div class="container">
    <header >

        <div class="row justify-content-center">
      
        <div class="col-md-10 col-lg-8 article">
            
            <div class="article-body page-body mx-auto" style="max-width: 400px;">
                
                <h1 class="text-center mb-4">登 录</h1>
                
                <div class="socialaccount_ballot">
                    <div class="text-center mb-3">
                        <ul class="list-unstyled">
                            
                            <li><a title="GitHub" class="socialaccount_provider github btn btn-secondary btn-lg w-100" href="JavaScript:void(0)">Connect With <strong>Meta Mask</strong></a></li>
                        
                        </ul>
                    </div>
                    
                    <div class="text-center text-muted my-3">— or —</div>
                </div>
                    
                    <div class="form-group">
                        
                        <div id="div_id_login" class="form-group">
                            
                            <label for="id_login" class="requiredField"> Username<span class="asteriskField">*</span></label>
                            <div class=""><input type="text" placeholder="请输入用户名" v-model="username" autofocus="" class="textinput textInput form-control"></div>
                        </div>
                    </div>
                            
                            <div class="form-group">
                                <div id="div_id_password" class="form-group">
                                    <label for="id_password" class="requiredField"> Password<span class="asteriskField">*</span></label>
                                    <div class="">
                                        <input type="password" placeholder="请输入密码" v-model="password"  minlength="8" maxlength="99" class="textinput textInput form-control">
                                    </div>
                                </div>
                            </div>


                            <div class="form-group">
                                <div id="div_id_password" class="form-group">
                                    <label for="id_password" class="requiredField"> 验证码<span class="asteriskField">

                                        <img v-if="cid"  :src="'http://localhost:5000/captcha/'+cid+'.png'" />

                                    </span></label>
                                    <div class="">
                                        <input type="text" placeholder="请输入验证码" v-model="code"  minlength="8" maxlength="99" class="textinput textInput form-control">
                                    </div>
                                </div>
                            </div>
                            
                            
                            <div class="text-center"><button class="btn btn-primary btn-lg text-wrap px-5 mt-2 w-100" name="jsSubmitButton" @click="signin">点击登录</button></div></div>
                
                </div>

    </div>
    
    </header>
    
    

    </div>

    </div>

  </body>

  ${ render "myaxios.html" }
  <script>

const App = {
            data() {
                return {
                    username: "",
                    password: "",
                    cid:"",
                    imgsrc:"",
                    code:"",

                };
            },
            created: function() {

                this.get_cid();

            },
            methods: {

                //获取验证码标识
                get_cid:function(){

                    this.myaxios("http://localhost:5000/captcha/","post").then(data => {
                        console.log(data)
                        this.cid = data.captchaId;
                        

                    });

                },

                //登录请求
                signin:function(){


                    this.myaxios("http://localhost:5000/signin/","post",{"username":this.username,"password":this.password,"cid":this.cid,"code":this.code}).then(data => {
                        console.log(data)
                        alert(data.msg);

                        localStorage.setItem("token",data.token);

                        window.location.href = "/admin/user/?token="+data.token;

                    });

                }

            },
        };
const app = Vue.createApp(App);
app.config.globalProperties.axios = axios;
app.config.globalProperties.myaxios = myaxios;
app.mount("#app");



</script>


</html>